TimbradorCFDI2020/Connected Services/WSDiverza52/RequestGeneraCFDI.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:Q1="http://www.buzonfiscal.com/ns/referenceID/v1" xmlns:bfgenxsd="http://www.buzonfiscal.com/ns/xsd/bf/RequestGeneraCFDI" elementFormDefault="qualified" targetNamespace="http://www.buzonfiscal.com/ns/xsd/bf/RequestGeneraCFDI" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="RefIDv1.0.xsd" namespace="http://www.buzonfiscal.com/ns/referenceID/v1" />
  <attribute name="RefID" type="Q1:refIDType" />
  <complexType name="DocumentoType">
    <attribute name="Archivo" type="base64Binary" use="required">
      <annotation>
        <documentation>El atributo Archivo, es utilizado para enviar la remision codificada en base64</documentation>
      </annotation>
    </attribute>
    <attribute name="NombreArchivo" type="string" use="optional">
      <annotation>
        <documentation>El atributo NombreArchivo, es utilizado para colocarel nombre de la remision que se esta enviando.</documentation>
      </annotation>
    </attribute>
    <attribute name="Tipo" use="required">
      <annotation>
        <documentation>El atributo Tipo, es utilizado para especificar el tipo de archivo que se envia, Posibles Valores  XML</documentation>
      </annotation>
      <simpleType>
        <restriction base="string">
          <enumeration value="ZIP" />
          <enumeration value="XML" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="Version" type="string" use="required">
      <annotation>
        <documentation>El atributo Version, es utilizado para especificar la version de  la remision. Posibles valores. 3.1 , 3.1, 3.2</documentation>
      </annotation>
    </attribute>
  </complexType>
  <element name="Documento" type="bfgenxsd:DocumentoType" />
  <complexType name="InfoBasicaType">
    <attribute name="RfcEmisor" use="required">
      <simpleType>
        <restriction base="string">
          <minLength value="12" />
          <maxLength value="13" />
          <whiteSpace value="collapse" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="RfcReceptor" use="required">
      <simpleType>
        <restriction base="string">
          <minLength value="12" />
          <maxLength value="13" />
          <whiteSpace value="collapse" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="Serie" type="string" />
  </complexType>
  <element name="InfoBasica" type="bfgenxsd:InfoBasicaType" />
  <complexType name="InfoAdicionalType">
    <attribute name="Atributo" type="string" use="required" />
    <attribute name="Valor" type="string" use="required" />
  </complexType>
  <element name="InfoAdicional" type="bfgenxsd:InfoAdicionalType" />
</schema>