TimbradorCFDI2020/WsCFDi 11Feb2011/WsCFDi/RemisionV5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.buzonfiscal.com/ns/xsd/bf/remision/5" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bfr5="http://www.buzonfiscal.com/ns/xsd/bf/remision/5"
	xmlns:bfref1="http://www.buzonfiscal.com/ns/referenceID/v1">
	<xs:import namespace="http://www.buzonfiscal.com/ns/referenceID/v1" schemaLocation="RefIDv1.0.xsd"></xs:import>
	<xs:element name="Remision" type="bfr5:RemisionComplexType">
		<xs:annotation>
			<xs:documentation>
				Formato para la expresión de remisiones para
				comprobantes fiscales digitales, basado en el esquema
				del CFDv2
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="UbicacionComplexType">
		<xs:annotation>
			<xs:documentation>
				Tipo definido para expresar domicilios o direcciones
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="calle" use="required">
			<xs:annotation>
				<xs:documentation>
					Este atributo opcional sirve para precisar la
					avenida, calle, camino o carretera donde se da la
					ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noExterior" use="optional">
			<xs:annotation>
				<xs:documentation>
					Este atributo opcional sirve para expresar el número
					particular en donde se da la ubicación sobre una
					calle dada.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noInterior" use="optional">
			<xs:annotation>
				<xs:documentation>
					Este atributo opcional sirve para expresar
					información adicional para especificar la ubicación
					cuando calle y número exterior (noExterior) no
					resulten suficientes para determinar la ubicación de
					forma precisa.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="colonia" use="optional">
			<xs:annotation>
				<xs:documentation>
					Este atributo opcional sirve para precisar la
					colonia en donde se da la ubicación cuando se desea
					ser más específico en casos de ubicaciones urbanas.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="localidad" use="optional">
			<xs:annotation>
				<xs:documentation>
					Atributo opcional que sirve para precisar la ciudad
					o población donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="referencia" use="optional">
			<xs:annotation>
				<xs:documentation>
					Atributo opcional para expresar una referencia de
					ubicación adicional.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="municipio" use="optional">
			<xs:annotation>
				<xs:documentation>
					Atributo opcional que sirve para precisar el
					municipio o delegación (en el caso del Distrito
					Federal) en donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="estado" use="optional">
			<xs:annotation>
				<xs:documentation>
					Atributo opcional que sirve para precisar el estado
					o entidad federativa donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pais" use="required">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido que sirve para precisar el país
					donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codigoPostal" use="optional">
			<xs:annotation>
				<xs:documentation>
					Atributo opcional que sirve para asentar el código
					postal en donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="UbicacionFiscalComplexType">
		<xs:annotation>
			<xs:documentation>
				Tipo definido para expresar domicilios o direcciones
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="calle" use="required">
			<xs:annotation>
				<xs:documentation>
					Este atributo requerido sirve para precisar la
					avenida, calle, camino o carretera donde se da la
					ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noExterior" use="optional">
			<xs:annotation>
				<xs:documentation>
					Este atributo opcional sirve para expresar el número
					particular en donde se da la ubicación sobre una
					calle dada.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noInterior" use="optional">
			<xs:annotation>
				<xs:documentation>
					Este atributo opcional sirve para expresar
					información adicional para especificar la ubicación
					cuando calle y número exterior (noExterior) no
					resulten suficientes para determinar la ubicación de
					forma precisa.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="colonia" use="optional">
			<xs:annotation>
				<xs:documentation>
					Este atributo opcional sirve para precisar la
					colonia en donde se da la ubicación cuando se desea
					ser más específico en casos de ubicaciones urbanas.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="localidad" use="optional">
			<xs:annotation>
				<xs:documentation>
					Atributo opcional que sirve para precisar la ciudad
					o población donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="referencia" use="optional">
			<xs:annotation>
				<xs:documentation>
					Atributo opcional para expresar una referencia de
					ubicación adicional.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse" />
					<xs:minLength value="1" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="municipio" use="required">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido que sirve para precisar el
					municipio o delegación (en el caso del Distrito
					Federal) en donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="estado" use="required">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido que sirve para precisar el estado
					o entidad federativa donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pais" use="required">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido que sirve para precisar el país
					donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codigoPostal" use="required">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido que sirve para asentar el código
					postal en donde se da la ubicación.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse" />
					<xs:length value="5" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="rfcSimpleType">
		<xs:annotation>
			<xs:documentation>
				Tipo definido para expresar claves del Registro Federal
				de Contribuyentes
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="12" />
			<xs:maxLength value="13" />
			<xs:whiteSpace value="collapse" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImporteSimpleType">
		<xs:annotation>
			<xs:documentation>
				Tipo definido para expresar importes numéricos con
				fracción a dos decimales
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="6" />
			<xs:whiteSpace value="collapse" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InformacionAduaneraComplexType">
		<xs:annotation>
			<xs:documentation>
				Tipo definido para expresar información aduanera
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="numero" use="required">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido para expresar el número del
					documento aduanero que ampara la importación del
					bien.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="fecha" use="required">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido para expresar la fecha de
					expedición del documento aduanero que ampara la
					importación del bien.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date">
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="aduana" use="required">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido para precisar la aduana por la
					que se efectuó la importación del bien.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1" />
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Addenda" type="bfr5:AddendaComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo opcional para recibir las extensiones al presente
				formato que sean de utilidad al contribuyente. Para las
				reglas de uso del mismo, referirse al formato de origen.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Complemento" type="bfr5:ComplementoComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo opcional donde se incluirán los nodos
				complementarios determinados por el SAT, de acuerdo a
				las disposiciones particulares a un sector o actividad
				especifica.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Impuestos" type="bfr5:ImpuestosComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo requerido para capturar los impuestos aplicables.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Conceptos" type="bfr5:ConceptosComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo requerido para enlistar los conceptos cubiertos por
				el comprobante.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Receptor" type="bfr5:ReceptorComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo requerido para precisar la información del
				contribuyente receptor del comprobante.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Emisor" type="bfr5:EmisorComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo requerido para expresar la información del
				contribuyente emisor del comprobante.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="serieSimpleType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>
			<xs:maxLength value="10"></xs:maxLength>
			<xs:whiteSpace value="collapse"></xs:whiteSpace>
			<xs:pattern value="[A-Z]{1,10}"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Concepto" type="bfr5:ConceptoComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo para introducir la información detallada de un bien
				o servicio amparado en el comprobante.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ConceptosComplexType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="bfr5:Concepto"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConceptoComplexType">
		<xs:choice minOccurs="0">
			<xs:element ref="bfr5:InformacionAduanera" minOccurs="0" maxOccurs="unbounded">
			</xs:element>
			<xs:element ref="bfr5:CuentaPredial" minOccurs="0"></xs:element>
			<xs:element ref="bfr5:ComplementoConcepto" minOccurs="0"></xs:element>
			<xs:element ref="bfr5:Parte" minOccurs="0" maxOccurs="unbounded">
			</xs:element>
		</xs:choice>
		<xs:attribute use="required" name="cantidad">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="required" name="unidad">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
					<xs:minLength value="1"></xs:minLength>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="optional" name="noIdentificacion">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="required" name="descripcion">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="required" name="valorUnitario" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="importe" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RemisionComplexType">
		<xs:sequence>
			<xs:element ref="bfr5:InfoBasica" minOccurs="1" maxOccurs="1">
			</xs:element>
			<xs:element ref="bfr5:InfoAdicional" minOccurs="1" maxOccurs="1">
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" ref="bfr5:Emisor"></xs:element>
			<xs:element ref="bfr5:DomicilioFiscal" minOccurs="0"></xs:element>
			<xs:element ref="bfr5:ExpedidoEn" minOccurs="0"></xs:element>
			<xs:element minOccurs="0" maxOccurs="1" ref="bfr5:Receptor">
			</xs:element>
			<xs:element ref="bfr5:DomicilioReceptor" minOccurs="0" maxOccurs="1">
			</xs:element>
			<xs:element ref="bfr5:Conceptos" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element ref="bfr5:Impuestos" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element minOccurs="0" ref="bfr5:Complemento"></xs:element>
			<xs:element minOccurs="0" ref="bfr5:Addenda"></xs:element>
		</xs:sequence>
		<xs:attribute name="version" use="required" fixed="5.0">
			<xs:annotation>
				<xs:documentation>
					Atributo requerido con valor prefijado a 4.0 que
					indica la versión del estándar bajo el que se
					encuentra expresado la remisión.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="InfoBasicaComplexType">
		<xs:sequence>
			<xs:element ref="bfr5:InfoEspecial" minOccurs="0"
				maxOccurs="10">
			</xs:element>
		</xs:sequence>
		<xs:attribute use="required" name="rfcEmisor"
			type="bfr5:rfcSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="rfcReceptor"
			type="bfr5:rfcSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="rfcSolicitante"
			type="bfr5:rfcSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="serie"
			type="bfr5:serieSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="aliasSucursal"
			type="xs:string">
		</xs:attribute>
		<xs:attribute name="refID" type="bfref1:refIDType"
			use="optional">
		</xs:attribute>
		<xs:attribute name="folio" use="optional">
			<xs:annotation>
				<xs:documentation>
					Atributo opcional para control interno del
					contribuyente que acepta un valor numérico entero
					superior a 0 que expresa el folio del comprobante.
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:maxLength value="20"></xs:maxLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="asignaFolio" type="xs:boolean"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="InfoAdicionalComplexType">
		<xs:attribute use="required" name="formaDePago">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="optional" name="condicionesDePago">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
					<xs:minLength value="1"></xs:minLength>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="required" name="subTotal"
			type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="descuento"
			type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="motivoDescuento">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="required" name="total"
			type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="metodoDePago">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="required" name="tipoDeComprobante">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ingreso"></xs:enumeration>
					<xs:enumeration value="egreso"></xs:enumeration>
					<xs:enumeration value="traslado"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="moneda" type="xs:string"></xs:attribute>
		<xs:attribute name="tipoCambio" type="xs:string"></xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReceptorComplexType">
		<xs:attribute use="required" name="nombre">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DomicilioReceptor" type="bfr5:UbicacionComplexType">
		<xs:annotation></xs:annotation>
	</xs:element>
	<xs:element name="DomicilioFiscal" type="bfr5:UbicacionFiscalComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo requerido para precisar la información de ubicación
				del domicilio fiscal del contribuyente emisor
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ExpedidoEn" type="bfr5:UbicacionComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo opcional para precisar la información de ubicación
				del domicilio en donde es emitido el comprobante fiscal
				en caso de que sea distinto del domicilio fiscal del
				contribuyente emisor.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Retenciones" type="bfr5:RetencionesComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo opcional para capturar los impuestos retenidos
				aplicables
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Traslados" type="bfr5:TrasladosComplexType">
		<xs:annotation>
			<xs:documentation>
				Nodo opcional para asentar o referir los impuestos
				trasladados aplicables
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InformacionAduanera" type="bfr5:InformacionAduaneraComplexType">
		<xs:annotation></xs:annotation>
	</xs:element>
	<xs:element name="CuentaPredial" type="bfr5:CuentaPredialComplexType">
		<xs:annotation></xs:annotation>
	</xs:element>
	<xs:element name="ComplementoConcepto" type="bfr5:ComplementoConceptoComplexType">
		<xs:annotation></xs:annotation>
	</xs:element>
	<xs:element name="Parte" type="bfr5:ParteComplexType">
		<xs:annotation></xs:annotation>
	</xs:element>
	<xs:complexType name="AddendaComplexType">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplementoComplexType">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="strict"></xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplementoConceptoComplexType">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="strict"></xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CuentaPredialComplexType">
		<xs:attribute use="required" name="numero">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
					<xs:minLength value="1"></xs:minLength>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EmisorComplexType">
		<xs:attribute use="required" name="nombre">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ImpuestosComplexType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="bfr5:Retenciones"></xs:element>
			<xs:element minOccurs="0" ref="bfr5:Traslados"></xs:element>
		</xs:sequence>
		<xs:attribute use="optional" name="totalImpuestosRetenidos" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="totalImpuestosTrasladados" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ParteComplexType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="InformacionAduanera" type="bfr5:InformacionAduaneraComplexType">
				<xs:annotation></xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute use="required" name="cantidad">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="optional" name="unidad">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
					<xs:minLength value="1"></xs:minLength>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="optional" name="noIdentificacion">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="required" name="descripcion">
			<xs:annotation></xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"></xs:minLength>
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="optional" name="valorUnitario" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="optional" name="importe" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RetencionesComplexType">
		<xs:sequence>
			<xs:element ref="bfr5:Retencion" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Retencion" type="bfr5:RetencionComplexType">
		<xs:annotation></xs:annotation>
	</xs:element>
	<xs:complexType name="RetencionComplexType">
		<xs:attribute use="required" name="impuesto" type="bfr5:impuestoRetencionSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="importe" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TrasladosComplexType">
		<xs:sequence>
			<xs:element ref="bfr5:Traslado" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Traslado" type="bfr5:TrasladoComplexType">
		<xs:annotation></xs:annotation>
	</xs:element>
	<xs:complexType name="TrasladoComplexType">
		<xs:attribute use="required" name="impuesto" type="bfr5:impuestoTrasladoSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="tasa" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
		<xs:attribute use="required" name="importe" type="bfr5:ImporteSimpleType">
			<xs:annotation></xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="impuestoTrasladoSimpleType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"></xs:whiteSpace>
			<xs:enumeration value="IVA">
				<xs:annotation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IEPS">
				<xs:annotation></xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="impuestoRetencionSimpleType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"></xs:whiteSpace>
			<xs:enumeration value="ISR">
				<xs:annotation></xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IVA">
				<xs:annotation></xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="InfoBasica" type="bfr5:InfoBasicaComplexType"></xs:element>
	<xs:element name="InfoAdicional" type="bfr5:InfoAdicionalComplexType">
	</xs:element>
		<xs:element name="InfoEspecial" type="bfr5:InfoEspecialComplexType">
	</xs:element>
	<xs:complexType name="InfoEspecialComplexType">
		<xs:attribute use="required" name="atributo">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute use="required" name="valor">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:whiteSpace value="collapse"></xs:whiteSpace>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
